.s-checkout {
  &__wrapper {
    display: flex;
    align-items: start;
    gap: 50px;
    @include laptop {
      gap: 30px;
    }
    @include laptop-min {
      flex-wrap: wrap;
    }
  }
  &__main {
    flex: 1;
    position: sticky;
    top: 130px;
    @include laptop-min {
      flex: none;
      width: 100%;
      position: static;
    }
  }
  &__cart {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &__profile {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  &__profile-item {
  }
  &__profile-item-title {
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    margin: 0px 0px 30px 0px;
    @include laptop-min {
      font-size: 28px;
    }
    @include tablet {
      margin-bottom: 20px;
      font-size: 24px;
    }
  }
  &__profile-item-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    row-gap: 30px;

    @include laptop {
      gap: 20px;
    }
    @include tablet-min {
      grid-template-columns: 1fr;
    }

    .form-row {
      margin: 0;

      label {
        display: block;
        margin-bottom: 8px;

        font-weight: 300;
        font-size: 16px;
        color: var(--dove);

        .required {
          display: none;
        }
      }
    }
  }
}
