.s-checkout {
  &__wrapper {
    display: flex;
    align-items: start;
    gap: 50px;
    @include laptop-middle {
      gap: 40px;
    }
    @include laptop-min {
      flex-wrap: wrap;
    }
  }
  &__main {
    flex: 1;
    position: sticky;
    top: 130px;
    @include laptop-min {
      flex: none;
      width: 100%;
      position: static;
    }
  }
  &__cart {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
