.s-product-descr {
  &__title {
    margin-bottom: 50px;
    @include laptop-min {
      margin-bottom: 30px;
    }
  }
  &__wrapper {
    display: flex;
    gap: 50px;
    @include laptop-min {
      gap: 20px;
      flex-wrap: wrap;
    }
  }
  &__item {
    flex: 1;
    @include laptop-min {
      flex: none;
      width: 100%;
    }
  }
}