.body-hidden {
  overflow: hidden;
  touch-action: none;
}
.body {
  font-family: "Onest", sans-serif;
  color: var(--black);
}

.sect-m {
  margin: 90px 0px;
  @include laptop-min {
    margin: 70px 0px;
  }
  @include tablet {
    margin: 50px 0px;
  }
}
.sect-p {
  padding: 90px 0px;
  @include laptop-min {
    padding: 70px 0px;
  }
  @include tablet {
    padding: 50px 0px;
  }
}

.bg-gray {
  background-color: var(--alabaster);
}

.content {
  font-size: 18px;
  line-height: 145%;
  font-weight: 300;

  @include laptop-min {
    font-size: 16px;
  }

  * {
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 20px;
      @include laptop-min {
        margin-bottom: 18px;
      }
    }
  }

  strong {
    font-weight: 700;
  }
}
