<footer class="footer">
  <div class="container">
    <div class="footer__head">
      <a href="/" class="footer__logo">
        <img src="@img/logo.svg" alt="logo" />
      </a>
      <div class="footer__contacts">
        <div class="footer__contacts-info">
          <a href="tel:+79219603413" class="footer__tel">+7 (921) 960-34-13</a>
          <a href="mailto:v-rus1999@mail.ru" class="footer__mail">
            v-rus1999@mail.ru
          </a>
        </div>
        <ul class="list footer__list">
          <li>
            <a href="#">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-tg"></use>
              </svg>
              <span>Telegram</span>
            </a>
          </li>
          <li>
            <a href="#">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-wh"></use>
              </svg>
              <span>Whatsapp</span>
            </a>
          </li>
          <li>
            <a href="#">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-vk"></use>
              </svg>
              <span>Вконтакте</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__search-wrapper">
        <form action="#" class="form-search">
          <input type="text" placeholder="Поиск по сайту" />
          <button type="submit" class="form-search__btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-search"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
    <div class="footer__middle">
      <nav class="footer__nav">
        <div class="footer__nav-item">
          <a href="#" class="footer__nav-title">Мужское</a>
          <ul class="list footer__nav-list">
            <li><a href="#">Верх</a></li>
            <li><a href="#">Низ</a></li>
            <li><a href="#">Костюмы</a></li>
            <li><a href="#">Аксессуары</a></li>
            <li><a href="#">Коллекции</a></li>
          </ul>
        </div>
        <div class="footer__nav-item">
          <a href="#" class="footer__nav-title">Мужское</a>
          <ul class="list footer__nav-list">
            <li><a href="#">Верх</a></li>
            <li><a href="#">Низ</a></li>
            <li><a href="#">Костюмы</a></li>
            <li><a href="#">Аксессуары</a></li>
            <li><a href="#">Коллекции</a></li>
          </ul>
        </div>
        <div class="footer__nav-item">
          <a href="#" class="footer__nav-title">Мужское</a>
          <ul class="list footer__nav-list">
            <li><a href="#">Верх</a></li>
            <li><a href="#">Низ</a></li>
            <li><a href="#">Костюмы</a></li>
            <li><a href="#">Аксессуары</a></li>
            <li><a href="#">Коллекции</a></li>
          </ul>
        </div>
        <div class="footer__nav-item">
          <a href="#" class="footer__nav-title">Мужское</a>
          <ul class="list footer__nav-list">
            <li><a href="#">Верх</a></li>
            <li><a href="#">Низ</a></li>
            <li><a href="#">Костюмы</a></li>
            <li><a href="#">Аксессуары</a></li>
            <li><a href="#">Коллекции</a></li>
          </ul>
        </div>
      </nav>
      <div class="footer__pay">
        <div class="footer__pay-item">
          <img src="@img/pay-1.svg" alt="icon" />
        </div>
        <div class="footer__pay-item">
          <img src="@img/pay-7.svg" alt="icon" />
        </div>
        <div class="footer__pay-item">
          <img src="@img/pay-2.svg" alt="icon" />
        </div>
        <div class="footer__pay-item">
          <img src="@img/pay-3.svg" alt="icon" />
        </div>
        <div class="footer__pay-item">
          <img src="@img/pay-4.svg" alt="icon" />
        </div>
        <div class="footer__pay-item">
          <img src="@img/pay-5.svg" alt="icon" />
        </div>
        <div class="footer__pay-item">
          <img src="@img/pay-6.svg" alt="icon" />
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__copyright">© Batzillaa, 1999 - 2025</div>
      <ul class="list footer__bottom-list">
        <li><a href="#">Политика конфиденциальности</a></li>
        <li><a href="#">Публичная оферта</a></li>
        <li><a href="#">Правила обработки персональных данных</a></li>
      </ul>
      <a href="https://qorix.ru/" target="_blank" class="footer__dev">
        <span>Разработка сайта —</span>
        <img src="@img/qorix.svg" alt="image" />
      </a>
    </div>
  </div>
</footer>

<script src="./files/fancybox/fancybox.min.js"></script>
<script src="./files/swiper/swiper.min.js"></script>
