<div class="header-top">
  <div class="container">
    <div class="header-top__wrapper">
      <div class="header-top__search-wrapper" id="header-search">
        <form action="#" class="form-search">
          <input type="text" placeholder="Поиск по сайту" />
          <button type="submit" class="form-search__btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-search"></use>
            </svg>
          </button>
        </form>
      </div>
      <nav class="header-top__nav">
        <ul class="list header-top__list">
          <li><a href="#">Главная</a></li>
          <li><a href="#">Доставка</a></li>
          <li><a href="#">Где купить</a></li>
          <li><a href="#">Блог</a></li>
          <li><a href="#">Технология</a></li>
          <li><a href="#">О компании</a></li>
        </ul>
      </nav>
      <div class="header-top__contacts">
        <a href="tel:+79219603413" class="header-top__tel">
          +7 (921) 960-34-13
        </a>
        <div class="header-top__social">
          <a
            href="tel:+79219603413"
            target="_blank"
            class="header-top__social-btn _mob"
          >
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-tel"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="header-top__social-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-tg"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="header-top__social-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-wh"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="/" class="header__logo">
        <img src="@img/logo.svg" alt="logo" />
      </a>
      <ul class="list header__list">
        <li data-header-drop-btn>
          <a href="#">Мужчинам</a>
          <div class="header-drop _scrollbar">
            <div class="container">
              <div class="header-drop__wrapper">
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li data-header-drop-btn>
          <a href="#">Женщинам</a>
          <div class="header-drop _scrollbar">
            <div class="container">
              <div class="header-drop__wrapper">
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li data-header-drop-btn>
          <a href="#">Лидеры продаж</a>
          <div class="header-drop _scrollbar">
            <div class="container">
              <div class="header-drop__wrapper">
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li data-header-drop-btn>
          <a href="#">Новинки</a>
          <div class="header-drop _scrollbar">
            <div class="container">
              <div class="header-drop__wrapper">
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li data-header-drop-btn>
          <a href="#">Акции</a>
          <div class="header-drop _scrollbar">
            <div class="container">
              <div class="header-drop__wrapper">
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
                <div class="header-drop__item">
                  <a href="#" class="header-drop__item-title">Верх</a>
                  <ul class="list header-drop__item-list">
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                    <li><a href="#">Подкатегория</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="header__profile-nav">
        <a href="#" class="header__profile-btn">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-profile"></use>
          </svg>
        </a>
        <a href="#" class="header__profile-btn">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-heart"></use>
          </svg>
        </a>
        <a href="#" class="header__profile-btn">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-cart"></use>
          </svg>
          <span class="header__profile-num">3</span>
        </a>
        <div class="header__profile-btn _mob" id="header-search-btn">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-search"></use>
          </svg>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-close"></use>
          </svg>
        </div>
      </div>
      <div class="header__burger-btn" id="burger-open">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</header>

<div class="burger-overlay" id="burger-overlay"></div>
<div class="burger" id="burger">
  <div class="burger__head">
    <a href="/" class="burger__logo">
      <img src="@img/logo.svg" alt="logo" />
    </a>
    <div class="burger__close" id="burger-close">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-close"></use>
      </svg>
    </div>
  </div>
  <ul class="list burger__list">
    <li><a href="#">Доставка</a></li>
    <li><a href="#">Где купить</a></li>
    <li><a href="#">Блог</a></li>
    <li><a href="#">Технология</a></li>
    <li><a href="#">О компании</a></li>
  </ul>
  <ul class="list burger__list">
    <li><a href="#">Мужчинам</a></li>
    <li><a href="#">Женщинам</a></li>
    <li><a href="#">Лидеры продаж</a></li>
    <li><a href="#">Новинки</a></li>
    <li><a href="#">Акции</a></li>
  </ul>
  <div class="burger__contacts">
    <a href="tel:+79219603413" class="burger__tel">+7 (921) 960-34-13</a>
    <div class="burger__social">
      <a href="#" target="_blank" class="burger__social-btn">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-tg"></use>
        </svg>
      </a>
      <a href="#" target="_blank" class="burger__social-btn">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-wh"></use>
        </svg>
      </a>
    </div>
  </div>
</div>

<div class="header-drop-overlay"></div>