<section class="intro">
  <div class="swiper intro__slider">
    <div class="intro__slider-arrow _prev">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-prev"></use>
      </svg>
    </div>
    <div class="intro__slider-arrow _next">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-next"></use>
      </svg>
    </div>
    <div class="swiper-wrapper">
      <div
        class="swiper-slide intro__slide"
        style="
          background: url(&quot;@img/intro.jpg&quot;) 0 0 / cover no-repeat;
        "
      >
        <div class="container">
          <h2 class="intro__slide-title">Покоряй склоны с Batzzilla</h2>
          <p class="intro__slide-content">
            Почувствуй свободу гор и городских улиц
          </p>
          <a href="#" class="btn-s _outline-white">Подробнее</a>
        </div>
      </div>
      <div
        class="swiper-slide intro__slide"
        style="
          background: url(&quot;@img/intro.jpg&quot;) 0 0 / cover no-repeat;
        "
      >
        <div class="container">
          <h2 class="intro__slide-title">Покоряй склоны с Batzzilla</h2>
          <p class="intro__slide-content">
            Почувствуй свободу гор и городских улиц
          </p>
          <a href="#" class="btn-s _outline-white">Подробнее</a>
        </div>
      </div>
      <div
        class="swiper-slide intro__slide"
        style="
          background: url(&quot;@img/intro.jpg&quot;) 0 0 / cover no-repeat;
        "
      >
        <div class="container">
          <h2 class="intro__slide-title">Покоряй склоны с Batzzilla</h2>
          <p class="intro__slide-content">
            Почувствуй свободу гор и городских улиц
          </p>
          <a href="#" class="btn-s _outline-white">Подробнее</a>
        </div>
      </div>
      <div
        class="swiper-slide intro__slide"
        style="
          background: url(&quot;@img/intro.jpg&quot;) 0 0 / cover no-repeat;
        "
      >
        <div class="container">
          <h2 class="intro__slide-title">Покоряй склоны с Batzzilla</h2>
          <p class="intro__slide-content">
            Почувствуй свободу гор и городских улиц
          </p>
          <a href="#" class="btn-s _outline-white">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-pagination intro__slider-pagination _white"></div>
</section>
