<div class="modal" id="modal-share">
  <h3 class="s-title modal__title">Поделиться</h3>
  <div class="shareon">
    <a class="bluesky"></a>
    <a class="facebook"></a>
    <a class="fediverse"></a>
    <a class="hackernews"></a>
    <a class="linkedin"></a>
    <a class="mastodon"></a>
    <a class="messenger" data-fb-app-id="0123456789012345"></a>
    <a class="odnoklassniki"></a>
    <a class="pinterest"></a>
    <a class="pocket"></a>
    <a class="reddit"></a>
    <a class="teams"></a>
    <a class="telegram"></a>
    <a class="tumblr"></a>
    <a class="twitter"></a>
    <a class="viber"></a>
    <a class="vkontakte"></a>
    <a class="whatsapp"></a>
    <a class="copy-url"></a>
    <a class="email"></a>
    <a class="print"></a>
    <a class="web-share"></a>
  </div>
</div>

<div class="modal" id="modal-connect">
  <h3 class="s-title modal__title">Остались вопросы?</h3>
  <p class="modal__content">
    Оставьте заявку на консультацию и с вами свяжется наш специалист, который
    поможет с выбором, а также ответит на все интересующие вопросы.
  </p>
  <form action="#" class="modal__form">
    <div class="input-control">
      <input type="text" placeholder="Ваше имя" class="input" />
    </div>
    <div class="input-control">
      <input type="tel" placeholder="+7 (___) ___-__-__" class="input" />
    </div>
    <input type="checkbox" id="modal-connect-policy" class="input-check" />
    <label for="modal-connect-policy" class="label-checbkox">
      <span>
        Я соглашаюсь с 
        <a href="#" target="_blank">Политикой обработки персональных данных</a>
        и
        <a href="#" target="_blank">Политикой конфиденциальности</a>
      </span>
    </label>
    <button class="btn-s form-btn">Отправить заявку</button>
  </form>
</div>
