<div class="modal-right-overlay"></div>
<div class="modal-right" data-modal-right="modal-size">
  <div class="modal-right__wrapper">
    <div class="modal-right__close">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-close"></use>
      </svg>
    </div>
    <div class="modal-right__inside">
      <div class="modal-right__body">
        <h3 class="modal-right__title">Таблица размеров</h3>
        <div class="size tabs">
          <div class="size__nav">
            <div data-tab-btn="tab-1" class="btn-l _active">Мужчинам</div>
            <div data-tab-btn="tab-2" class="btn-l">Женщинам</div>
          </div>
          <div data-tab="tab-1" class="_active">
            <div class="size__table">
              <div class="size__head">
                <div class="size__table-cell">Size</div>
                <div class="size__table-cell">Размер</div>
                <div class="size__table-cell">Обхват груди</div>
                <div class="size__table-cell">Обхват талии</div>
                <div class="size__table-cell">Обхват бедер</div>
              </div>
              <div class="size__row">
                <div class="size__table-cell">42/44</div>
                <div class="size__table-cell">S</div>
                <div class="size__table-cell">88-92</div>
                <div class="size__table-cell">76-80</div>
                <div class="size__table-cell">76-80</div>
              </div>
              <div class="size__row">
                <div class="size__table-cell">42/44</div>
                <div class="size__table-cell">S</div>
                <div class="size__table-cell">88-92</div>
                <div class="size__table-cell">76-80</div>
                <div class="size__table-cell">76-80</div>
              </div>
              <div class="size__row">
                <div class="size__table-cell">42/44</div>
                <div class="size__table-cell">S</div>
                <div class="size__table-cell">88-92</div>
                <div class="size__table-cell">76-80</div>
                <div class="size__table-cell">76-80</div>
              </div>
              <div class="size__row">
                <div class="size__table-cell">42/44</div>
                <div class="size__table-cell">S</div>
                <div class="size__table-cell">88-92</div>
                <div class="size__table-cell">76-80</div>
                <div class="size__table-cell">76-80</div>
              </div>
            </div>
          </div>
          <div data-tab="tab-2">
            <div class="size__table">
              <div class="size__head">
                <div class="size__table-cell">Size</div>
                <div class="size__table-cell">Размер</div>
                <div class="size__table-cell">Обхват груди</div>
                <div class="size__table-cell">Обхват талии</div>
                <div class="size__table-cell">Обхват бедер</div>
              </div>
              <div class="size__row">
                <div class="size__table-cell">42/44</div>
                <div class="size__table-cell">S</div>
                <div class="size__table-cell">88-92</div>
                <div class="size__table-cell">76-80</div>
                <div class="size__table-cell">76-80</div>
              </div>
              <div class="size__row">
                <div class="size__table-cell">42/44</div>
                <div class="size__table-cell">S</div>
                <div class="size__table-cell">88-92</div>
                <div class="size__table-cell">76-80</div>
                <div class="size__table-cell">76-80</div>
              </div>
              <div class="size__row">
                <div class="size__table-cell">42/44</div>
                <div class="size__table-cell">S</div>
                <div class="size__table-cell">88-92</div>
                <div class="size__table-cell">76-80</div>
                <div class="size__table-cell">76-80</div>
              </div>
              <div class="size__row">
                <div class="size__table-cell">42/44</div>
                <div class="size__table-cell">S</div>
                <div class="size__table-cell">88-92</div>
                <div class="size__table-cell">76-80</div>
                <div class="size__table-cell">76-80</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="size__content">
        <img src="@img/size-img.jpg" alt="image" />
        <div class="size__descr">
          <p>
            Чтобы
            <strong>измерить обхват груди</strong>
            , нужно обернуть сантиметровую ленту вокруг туловища по самым
            выступающим точкам груди, следя за тем, чтобы лента проходила
            горизонтально и не слишком туго прилегала. 
          </p>
          <p>
            Чтобы
            <strong>измерить обхват талии,</strong>
            нужно обернуть сантиметровую ленту вокруг самой узкой части
            туловища, обычно чуть выше пупка, и убедиться, что лента проходит
            горизонтально и плотно прилегает к телу, но не сдавливает. 
          </p>
          <p>
            Чтобы
            <strong>измерить обхват бедер,</strong>
            оберните сантиметровую ленту вокруг бедер по самой широкой части,
            проходящей через выступающие точки ягодиц, учитывая живот. Лента
            должна плотно прилегать к телу, но не сдавливать. Зафиксируйте
            измерение в месте, где лента пересекается с исходной точкой. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
