<section class="s-about sect-m">
  <div class="container">
    <div class="s-about__head">
      <div class="s-about__title-wrapper">
        <h2 class="s-title s-about__title">«BATZZILLA»</h2>
        <div class="s-about__subtitle">
          — это пуховые куртки для активного отдыха!
        </div>
      </div>
      <div class="s-about__head-content">
        <p>
          Уже 25 лет мы занимаемся созданием стильной функциональной одежды и
          снаряжения. В нашей одежде катаются топовые райдеры страны и члены
          сборной команды России.
        </p>
        <p>
          «Batzzilla» - первый Российский бренд одежды для сноуборда
          и new-school, основанный в 1999 году.
        </p>
      </div>
    </div>
  </div>
  <img src="@img/about-img.jpg" alt="image" class="s-about__img">
</section>
