<section class="sect-m mt-off s-account">
  <div class="container">
    <div class="page-head">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="https://timer-alliance.ru" title="Главная">Главная</a>
        </span>
        <span class="aioseo-breadcrumb-separator">></span>
        <span class="aioseo-breadcrumb">Данные аккаунта</span>
      </div>
      <h1 class="m-title">Данные аккаунта</h1>
      <ul class="list page-head__list">
        <li><a href="#" class="_active">Данные аккаунта</a></li>
        <li><a href="#">История заказов</a></li>
        <li><a href="#">Избранное</a></li>
        <li>
          <a href="#">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-logout"></use>
            </svg>
            <span>Выйти из аккаунта</span>
          </a>
        </li>
      </ul>
    </div>
    <form action="#" class="s-profile__form">
      <div class="s-profile__form-wrapper">
        <div class="s-profile__form-item">
          <h5 class="l-title s-profile__form-title">Личная информация</h5>
          <div class="s-profile__form-inputs">
            <div class="input-control">
              <label for="profile-name" class="label-input">Имя</label>
              <input type="text" id="profile-name" class="input" />
            </div>
            <div class="input-control">
              <label for="profile-lastname" class="label-input">Фамилия</label>
              <input type="text" id="profile-lastname" class="input" />
            </div>
            <div class="input-control">
              <label for="profile-date" class="label-input">
                Дата рождения
              </label>
              <input type="date" id="profile-date" class="input" />
            </div>
          </div>
        </div>
        <div class="s-profile__separator"></div>
        <div class="s-profile__form-item">
          <h5 class="l-title s-profile__form-title">Контактные данные</h5>
          <div class="s-profile__form-inputs">
            <div class="input-control">
              <label for="profile-tel" class="label-input">Телефон</label>
              <input
                type="tel"
                placeholder="+7 (___) ___-__-__"
                id="profile-tel"
                class="input"
              />
            </div>
            <div class="input-control">
              <label for="profile-email" class="label-input">Email</label>
              <input type="text" id="profile-email" class="input" />
            </div>
          </div>
        </div>
        <div class="s-profile__separator"></div>
        <div class="s-profile__form-item">
          <h5 class="l-title s-profile__form-title">Пароль</h5>
          <div class="s-profile__form-inputs">
            <div class="input-control">
              <label for="profile-pass" class="label-input">
                Введите новый пароль
              </label>
              <input type="password" id="profile-pass" class="input" />
            </div>
            <div class="input-control">
              <label for="profile-pass-2" class="label-input">
                Подтвердите новый пароль
              </label>
              <input type="password" id="profile-pass-2" class="input" />
            </div>
          </div>
        </div>
      </div>
      <button class="btn-s s-profile__form-send">Сохранить изменения</button>
    </form>
  </div>
</section>
