<section class="s-category-rec sect-m">
  <a href="#" class="s-category-rec__item">
    <img src="@img/category-rec.jpg" alt="image" />
    <div class="btn-s s-category-rec__item-btn">
      <span>Мужчинам</span>
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
      </svg>
    </div>
  </a>
  <a href="#" class="s-category-rec__item">
    <img src="@img/category-rec.jpg" alt="image" />
    <div class="btn-s s-category-rec__item-btn">
      <span>Женщинам</span>
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
      </svg>
    </div>
  </a>
</section>