<section class="sect-m mt-off s-catalog">
  <div class="container">
    <div class="page-head">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="https://timer-alliance.ru" title="Главная">Главная</a>
        </span>
        <span class="aioseo-breadcrumb-separator">></span>
        <span class="aioseo-breadcrumb">
          <a href="#">Каталог</a>
        </span>
        <span class="aioseo-breadcrumb-separator">></span>
        <span class="aioseo-breadcrumb">Мужское</span>
      </div>
      <h1 class="m-title">Мужское</h1>
      <ul class="list page-head__list">
        <li><a href="#" class="_active">Горнолыжные куртки</a></li>
        <li><a href="#">Пуховики</a></li>
        <li><a href="#">Категория</a></li>
        <li><a href="#">Коллекция</a></li>
      </ul>
    </div>
    <div class="s-catalog__head">
      <div class="s-catalog__head-btn" id="filters-open">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-filters"></use>
        </svg>
        <span>Фильтры</span>
        <div class="num">3</div>
      </div>
      <div class="s-catalog__sort">
        <select>
          <option value="По популярности">По популярности</option>
          <option value="По возрастанию цены">По возрастанию цены</option>
          <option value="По убыванию цены">По убыванию цены</option>
          <option value="По новизне">По новизне</option>
        </select>
      </div>
    </div>
    <div class="s-catalog__wrapper">
      <div class="s-catalog__filters" id="filters">
        <div data-spollers class="s-catalog__filters-spollers">
          <div class="s-catalog__filter-spoller">
            <div data-spoller class="s-catalog__spoller-btn">
              <span>Категории</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-down"></use>
              </svg>
            </div>
            <div>
              <div class="s-catalog__spoller-body">
                <div
                  class="berocket_single_filter_widget berocket_single_filter_widget_70"
                  data-id="70"
                  style=""
                >
                  <div
                    class="bapf_sfilter bapf_ckbox bapf_hideckbox"
                    data-op="OR"
                    data-taxonomy="pa_liczevaya-storona"
                    id="bapf_3"
                  >
                    <div class="bapf_head"><h3>Категории</h3></div>
                    <div class="bapf_body">
                      <ul>
                        <li class="checked">
                          <input
                            id="bapf_3_32"
                            type="checkbox"
                            value="32"
                            checked="checked"
                          />
                          <label for="bapf_3_32">Верх</label>
                        </li>
                        <li class="checked">
                          <input
                            id="bapf_3_46"
                            type="checkbox"
                            value="46"
                            checked="checked"
                          />
                          <label for="bapf_3_46">Аксессуары</label>
                        </li>
                        <li>
                          <input id="bapf_3_91" type="checkbox" value="91" />
                          <label for="bapf_3_91">Штаны</label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="s-catalog__filter-spoller">
            <div data-spoller class="s-catalog__spoller-btn">
              <span>Коллекция</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-down"></use>
              </svg>
            </div>
            <div>
              <div class="s-catalog__spoller-body">
                <div
                  class="berocket_single_filter_widget berocket_single_filter_widget_70"
                  data-id="70"
                  style=""
                >
                  <div
                    class="bapf_sfilter bapf_ckbox bapf_hideckbox"
                    data-op="OR"
                    data-taxonomy="pa_liczevaya-storona"
                    id="bapf_3"
                  >
                    <div class="bapf_head"><h3>Коллекция</h3></div>
                    <div class="bapf_body">
                      <ul>
                        <li class="checked">
                          <input
                            id="k1"
                            type="checkbox"
                            value="32"
                            checked="checked"
                          />
                          <label for="k1">Коллекция</label>
                        </li>
                        <li class="checked">
                          <input
                            id="k2"
                            type="checkbox"
                            value="46"
                            checked="checked"
                          />
                          <label for="k2">Коллекция</label>
                        </li>
                        <li>
                          <input id="k3" type="checkbox" value="91" />
                          <label for="k3">Коллекция</label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="s-catalog__filter-spoller">
            <div data-spoller class="s-catalog__spoller-btn">
              <span>Размер</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-down"></use>
              </svg>
            </div>
            <div>
              <div class="s-catalog__spoller-body">
                <div
                  class="berocket_single_filter_widget berocket_single_filter_widget_70"
                  data-id="70"
                  style=""
                >
                  <div
                    class="bapf_sfilter bapf_ckbox bapf_hideckbox"
                    data-op="OR"
                    data-taxonomy="pa_liczevaya-storona"
                    id="bapf_3"
                  >
                    <div class="bapf_head"><h3>Размер</h3></div>
                    <div class="bapf_body">
                      <ul>
                        <li class="checked">
                          <input
                            id="r1"
                            type="checkbox"
                            value="32"
                            checked="checked"
                          />
                          <label for="r1">Размер</label>
                        </li>
                        <li class="checked">
                          <input
                            id="r2"
                            type="checkbox"
                            value="46"
                            checked="checked"
                          />
                          <label for="r2">Размер</label>
                        </li>
                        <li>
                          <input id="r3" type="checkbox" value="91" />
                          <label for="r3">Размер</label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="s-catalog__filter-spoller">
            <div data-spoller class="s-catalog__spoller-btn _spoller-active">
              <span>Стоимость</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-down"></use>
              </svg>
            </div>
            <div>
              <div class="s-catalog__spoller-body">
                <div
                  class="berocket_single_filter_widget berocket_single_filter_widget_164 bapf_wid_"
                  data-wid=""
                  data-id="164"
                  style=""
                >
                  <div
                    class="bapf_sfilter bapf_slidr bapf_slidr_jqrui bapf_slidr_ready"
                    data-op="slidr"
                    data-taxonomy="price"
                    id="bapf_1"
                  >
                    <div class="bapf_body">
                      <div class="bapf_slidr_all">
                        <span class="bapf_from"><input type="text" value="999" /></span>
                        <span class="bapf_to"><input type="text" value="20000" /></span>
                        <div
                          class="bapf_slidr_main bapf_slidr_num ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                          data-display="wc_price"
                          data-min="0"
                          data-start="0"
                          data-max="13891"
                          data-end="13891"
                          data-step="1"
                        >
                          <div
                            class="ui-slider-range ui-corner-all ui-widget-header"
                            style="left: 0%; width: 100%"
                          ></div>
                          <span
                            tabindex="0"
                            class="ui-slider-handle ui-corner-all ui-state-default"
                            style="left: 0%"
                          ></span>
                          <span
                            tabindex="0"
                            class="ui-slider-handle ui-corner-all ui-state-default"
                            style="left: 100%"
                          ></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
