<section class="sect-m mt-off s-catalog">
  <div class="container">
    <div class="page-head">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="https://timer-alliance.ru" title="Главная">Главная</a>
        </span>
        <span class="aioseo-breadcrumb-separator">></span>
        <span class="aioseo-breadcrumb">
          <a href="#">Каталог</a>
        </span>
        <span class="aioseo-breadcrumb-separator">></span>
        <span class="aioseo-breadcrumb">Мужское</span>
      </div>
      <h1 class="m-title">Мужское</h1>
      <ul class="list page-head__list">
        <li><a href="#" class="_active">Горнолыжные куртки</a></li>
        <li><a href="#">Пуховики</a></li>
        <li><a href="#">Категория</a></li>
        <li><a href="#">Коллекция</a></li>
      </ul>
    </div>
    <div class="s-catalog__head">
      <div class="s-catalog__head-btn" id="filters-open">
        <svg>
          <use xlink:href='img/icons/icons.svg#icon-filters'></use>
        </svg>
        <span>Фильтры</span>
        <div class="num">3</div>
      </div>
      <div class="s-catalog__sort">
        <select>
          <option value="По популярности">По популярности</option>
          <option value="По возрастанию цены">По возрастанию цены</option>
          <option value="По убыванию цены">По убыванию цены</option>
          <option value="По новизне">По новизне</option>
        </select>
      </div>
    </div>
  </div>
</section>
