<section class="sect-m s-cart mt-off">
  <div class="container">
    <div class="page-head">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="https://timer-alliance.ru" title="Главная">Главная</a>
        </span>
        <span class="aioseo-breadcrumb-separator">></span>
        <span class="aioseo-breadcrumb">Корзина</span>
      </div>
      <h1 class="m-title">Корзина</h1>
    </div>
    <div class="s-checkout__wrapper">
      <div class="s-checkout__main">
        <div class="s-checkout__cart">
          <div class="cart-item">
            <a href="#" class="cart-item__gallery">
              <img src="@img/cart-item.jpg" alt="image" />
            </a>
            <div class="cart-item__body">
              <a href="#" class="cart-item__title">
                "HOODY", натуральный легкий пуховик, белый
              </a>
              <ul class="list cart-item__spec">
                <li>
                  <span>Цвет:</span>
                  <span>Белый</span>
                </li>
                <li>
                  <span>Размер:</span>
                  <span>L</span>
                </li>
              </ul>
              <div class="cart-item__bottom">
                <div class="cart-item__prices">
                  <div class="cart-item__price">13 900₽</div>
                  <div class="cart-item__old-price">15 900₽</div>
                </div>
                <div class="cart-item__close">
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-close"></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="cart-item">
            <a href="#" class="cart-item__gallery">
              <img src="@img/cart-item.jpg" alt="image" />
            </a>
            <div class="cart-item__body">
              <a href="#" class="cart-item__title">
                "HOODY", натуральный легкий пуховик, белый
              </a>
              <ul class="list cart-item__spec">
                <li>
                  <span>Цвет:</span>
                  <span>Белый</span>
                </li>
                <li>
                  <span>Размер:</span>
                  <span>L</span>
                </li>
              </ul>
              <div class="cart-item__bottom">
                <div class="cart-item__prices">
                  <div class="cart-item__price">13 900₽</div>
                  <div class="cart-item__old-price">15 900₽</div>
                </div>
                <div class="cart-item__close">
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-close"></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar">
        <h3 class="sidebar__title">Информация о заказе</h3>
        <ul class="list sidebar__list">
          <li>
            <span>Всего товаров</span>
            <span>2 товара</span>
          </li>
           <li>
            <span>Сумма заказа</span>
            <span>29 800 ₽</span>
          </li>
           <li>
            <span>Сумма скидки</span>
            <span>2 000 ₽</span>
          </li>
        </ul>
        <div class="sidebar__result">
          <span>Итоговая сумма</span>
          <span>27 800₽</span>
        </div>
        <div class="sidebar__promocode">
          <input type="text" placeholder="Введите промокод" class="sidebar__promocode-input">
          <div class="sidebar__promocode-btn">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-arrow-next'></use>
            </svg>
          </div>
        </div>
        <a href="#" class="btn-s sidebar__btn">Перейти к оформлению</a>
      </div>
    </div>
  </div>
</section>
