<section class="s-design sect-m">
  <div class="container">
    <h2 class="s-title">Яркий дизайн в городе и на склоне</h2>
    <p class="content s-design__content">
      Одежда для сноуборда должна быть не только теплой и удобной, но и отражать
      твой стиль. В коллекции Batzzilla — три типа пуховиков, которые подойдут
      для разных ситуаций: от городских прогулок до катания в горах.
      Классические силуэты, яркие цвета и дерзкие принты позволяют выбрать
      именно тот вариант, который подчеркнет твою индивидуальность. Найди свою
      идеальную куртку – для склона, улицы или обоих сразу!
    </p>
  </div>
  <div class="s-design__body">
    <div class="s-design__item">
      <img src="@img/design.jpg" alt="image" class="s-design__item-img" />
      <div class="s-design__item-body">
        <h5 class="s-design__item-title">Пуховое пальто</h5>
        <p class="content s-design__item-content">
          Длинное пуховое пальто – это максимальная защита от холода и ветра,
          даже в самых суровых условиях. Благодаря удлиненному крою и
          эргономичному капюшону оно удерживает тепло и защищает от попадания
          снега. Лаконичный дизайн делает его универсальным – можно кататься,
          тренировать, гулять по городу или отдыхать после каталки.
        </p>
      </div>
    </div>
    <div class="s-design__item">
      <img src="@img/design.jpg" alt="image" class="s-design__item-img" />
      <div class="s-design__item-body">
        <h5 class="s-design__item-title">Пуховое пальто</h5>
        <p class="content s-design__item-content">
          Длинное пуховое пальто – это максимальная защита от холода и ветра,
          даже в самых суровых условиях. Благодаря удлиненному крою и
          эргономичному капюшону оно удерживает тепло и защищает от попадания
          снега. Лаконичный дизайн делает его универсальным – можно кататься,
          тренировать, гулять по городу или отдыхать после каталки.
        </p>
      </div>
    </div>
    <div class="s-design__item">
      <img src="@img/design.jpg" alt="image" class="s-design__item-img" />
      <div class="s-design__item-body">
        <h5 class="s-design__item-title">Пуховое пальто</h5>
        <p class="content s-design__item-content">
          Длинное пуховое пальто – это максимальная защита от холода и ветра,
          даже в самых суровых условиях. Благодаря удлиненному крою и
          эргономичному капюшону оно удерживает тепло и защищает от попадания
          снега. Лаконичный дизайн делает его универсальным – можно кататься,
          тренировать, гулять по городу или отдыхать после каталки.
        </p>
      </div>
    </div>
    <div class="s-design__item">
      <img src="@img/design.jpg" alt="image" class="s-design__item-img" />
      <div class="s-design__item-body">
        <h5 class="s-design__item-title">Пуховое пальто</h5>
        <p class="content s-design__item-content">
          Длинное пуховое пальто – это максимальная защита от холода и ветра,
          даже в самых суровых условиях. Благодаря удлиненному крою и
          эргономичному капюшону оно удерживает тепло и защищает от попадания
          снега. Лаконичный дизайн делает его универсальным – можно кататься,
          тренировать, гулять по городу или отдыхать после каталки.
        </p>
      </div>
    </div>
  </div>
</section>
