<section class="sect-m mt-off s-account">
  <div class="container">
    <div class="page-head">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="https://timer-alliance.ru" title="Главная">Главная</a>
        </span>
        <span class="aioseo-breadcrumb-separator">></span>
        <span class="aioseo-breadcrumb">Данные аккаунта</span>
      </div>
      <h1 class="m-title">Данные аккаунта</h1>
      <ul class="list page-head__list">
        <li><a href="#" class="_active">Данные аккаунта</a></li>
        <li><a href="#">История заказов</a></li>
        <li><a href="#">Избранное</a></li>
        <li>
          <a href="#">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-logout"></use>
            </svg>
            <span>Выйти из аккаунта</span>
          </a>
        </li>
      </ul>
    </div>
    <div
      data-count-show="4"
      class="container-more s-favourites__container-more"
    >
      <div class="grid">
        <div data-more-item>
          <div class="card-product">
            <a href="#" class="card-product__gallery">
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a href="#" class="card-product__title">
              "Inflight W", натуральный мембранный женский пуховик, лагуна
            </a>
            <div class="card-product__footer">
              <div class="card-product__price">13 900₽</div>
              <div class="card-product__like _active">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div data-more-item>
          <div class="card-product">
            <a href="#" class="card-product__gallery">
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a href="#" class="card-product__title">
              "Inflight W", натуральный мембранный женский пуховик, лагуна
            </a>
            <div class="card-product__footer">
              <div class="card-product__price">13 900₽</div>
              <div class="card-product__like _active">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div data-more-item>
          <div class="card-product">
            <a href="#" class="card-product__gallery">
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a href="#" class="card-product__title">
              "Inflight W", натуральный мембранный женский пуховик, лагуна
            </a>
            <div class="card-product__footer">
              <div class="card-product__price">13 900₽</div>
              <div class="card-product__like _active">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div data-more-item>
          <div class="card-product">
            <a href="#" class="card-product__gallery">
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a href="#" class="card-product__title">
              "Inflight W", натуральный мембранный женский пуховик, лагуна
            </a>
            <div class="card-product__footer">
              <div class="card-product__price">13 900₽</div>
              <div class="card-product__like _active">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div data-more-item>
          <div class="card-product">
            <a href="#" class="card-product__gallery">
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a href="#" class="card-product__title">
              "Inflight W", натуральный мембранный женский пуховик, лагуна
            </a>
            <div class="card-product__footer">
              <div class="card-product__price">13 900₽</div>
              <div class="card-product__like _active">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div data-more-item>
          <div class="card-product">
            <a href="#" class="card-product__gallery">
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a href="#" class="card-product__title">
              "Inflight W", натуральный мембранный женский пуховик, лагуна
            </a>
            <div class="card-product__footer">
              <div class="card-product__price">13 900₽</div>
              <div class="card-product__like _active">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div data-more-item>
          <div class="card-product">
            <a href="#" class="card-product__gallery">
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a href="#" class="card-product__title">
              "Inflight W", натуральный мембранный женский пуховик, лагуна
            </a>
            <div class="card-product__footer">
              <div class="card-product__price">13 900₽</div>
              <div class="card-product__like _active">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div data-more-item>
          <div class="card-product">
            <a href="#" class="card-product__gallery">
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a href="#" class="card-product__title">
              "Inflight W", натуральный мембранный женский пуховик, лагуна
            </a>
            <div class="card-product__footer">
              <div class="card-product__price">13 900₽</div>
              <div class="card-product__like _active">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div data-more-item>
          <div class="card-product">
            <a href="#" class="card-product__gallery">
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a href="#" class="card-product__title">
              "Inflight W", натуральный мембранный женский пуховик, лагуна
            </a>
            <div class="card-product__footer">
              <div class="card-product__price">13 900₽</div>
              <div class="card-product__like _active">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div data-more-item>
          <div class="card-product">
            <a href="#" class="card-product__gallery">
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a href="#" class="card-product__title">
              "Inflight W", натуральный мембранный женский пуховик, лагуна
            </a>
            <div class="card-product__footer">
              <div class="card-product__price">13 900₽</div>
              <div class="card-product__like _active">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div data-more-item>
          <div class="card-product">
            <a href="#" class="card-product__gallery">
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a href="#" class="card-product__title">
              "Inflight W", натуральный мембранный женский пуховик, лагуна
            </a>
            <div class="card-product__footer">
              <div class="card-product__price">13 900₽</div>
              <div class="card-product__like _active">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div data-more-item>
          <div class="card-product">
            <a href="#" class="card-product__gallery">
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a href="#" class="card-product__title">
              "Inflight W", натуральный мембранный женский пуховик, лагуна
            </a>
            <div class="card-product__footer">
              <div class="card-product__price">13 900₽</div>
              <div class="card-product__like _active">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-more-btn class="btn-s _outline-gray s-favourites__more-btn">
        Показать еще
      </div>
    </div>
  </div>
</section>
