<section class="s-gallery sect-m">
  <div class="swiper s-gallery__slider">
    <div class="swiper-wrapper">
      <a href="@img/gallery-img.jpg" data-fancybox="gallery" class="swiper-slide s-gallery__slide">
        <img src="@img/gallery-img.jpg" alt="image">
      </a>
      <a href="@img/gallery-img.jpg" data-fancybox="gallery" class="swiper-slide s-gallery__slide">
        <img src="@img/gallery-img.jpg" alt="image">
      </a>
      <a href="@img/gallery-img.jpg" data-fancybox="gallery" class="swiper-slide s-gallery__slide">
        <img src="@img/gallery-img.jpg" alt="image">
      </a>
      <a href="@img/gallery-img.jpg" data-fancybox="gallery" class="swiper-slide s-gallery__slide">
        <img src="@img/gallery-img.jpg" alt="image">
      </a>
      <a href="@img/gallery-img.jpg" data-fancybox="gallery" class="swiper-slide s-gallery__slide">
        <img src="@img/gallery-img.jpg" alt="image">
      </a>
      <a href="@img/gallery-img.jpg" data-fancybox="gallery" class="swiper-slide s-gallery__slide">
        <img src="@img/gallery-img.jpg" alt="image">
      </a>
      <a href="@img/gallery-img.jpg" data-fancybox="gallery" class="swiper-slide s-gallery__slide">
        <img src="@img/gallery-img.jpg" alt="image">
      </a>
      <a href="@img/gallery-img.jpg" data-fancybox="gallery" class="swiper-slide s-gallery__slide">
        <img src="@img/gallery-img.jpg" alt="image">
      </a>
      <a href="@img/gallery-img.jpg" data-fancybox="gallery" class="swiper-slide s-gallery__slide">
        <img src="@img/gallery-img.jpg" alt="image">
      </a>
      <a href="@img/gallery-img.jpg" data-fancybox="gallery" class="swiper-slide s-gallery__slide">
        <img src="@img/gallery-img.jpg" alt="image">
      </a>
      <a href="@img/gallery-img.jpg" data-fancybox="gallery" class="swiper-slide s-gallery__slide">
        <img src="@img/gallery-img.jpg" alt="image">
      </a>
    </div>
  </div>
</section>