<section class="sect-m mt-off s-account">
  <div class="container">
    <div class="page-head">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="https://timer-alliance.ru" title="Главная">Главная</a>
        </span>
        <span class="aioseo-breadcrumb-separator">></span>
        <span class="aioseo-breadcrumb">Данные аккаунта</span>
      </div>
      <h1 class="m-title">Данные аккаунта</h1>
      <ul class="list page-head__list">
        <li><a href="#" class="_active">Данные аккаунта</a></li>
        <li><a href="#">История заказов</a></li>
        <li><a href="#">Избранное</a></li>
        <li>
          <a href="#">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-logout"></use>
            </svg>
            <span>Выйти из аккаунта</span>
          </a>
        </li>
      </ul>
    </div>
    <div data-spollers class="s-history">
      <div class="s-history__spoller">
        <div data-spoller class="s-history__spoller-btn">
          <span class="id">Заказ №10141</span>
          <span class="status _green">Доставлен</span>
          <span class="date">15.09.2025</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-down"></use>
          </svg>
        </div>
        <div>
          <div class="s-history__spoller-body">
            <div class="s-history__cards">
              <a href="#" class="card-history">
                <div class="card-history__gallery">
                  <img src="@img/product.jpg" alt="" />
                </div>
                <div class="card-history__info">
                  <div href="#" class="card-history__title">
                    "HOODY", натуральный легкий пуховик, белый
                  </div>
                  <ul class="list card-history__spec">
                    <li>
                      <span>Цвет:</span>
                      <span>Белый</span>
                    </li>
                    <li>
                      <span>Размер:</span>
                      <span>L</span>
                    </li>
                  </ul>
                </div>
                <div class="card-history__prices">
                  <div class="card-history__price">13 900₽</div>
                  <div class="card-history__old-price">15 900₽</div>
                </div>
              </a>
              <a href="#" class="card-history">
                <div class="card-history__gallery">
                  <img src="@img/product.jpg" alt="" />
                </div>
                <div class="card-history__info">
                  <div href="#" class="card-history__title">
                    "HOODY", натуральный легкий пуховик, белый
                  </div>
                  <ul class="list card-history__spec">
                    <li>
                      <span>Цвет:</span>
                      <span>Белый</span>
                    </li>
                    <li>
                      <span>Размер:</span>
                      <span>L</span>
                    </li>
                  </ul>
                </div>
                <div class="card-history__prices">
                  <div class="card-history__price">13 900₽</div>
                </div>
              </a>
            </div>
            <div class="sidebar">
              <h3 class="sidebar__title">Информация о заказе</h3>
              <ul class="list sidebar__list">
                <li>
                  <span>Всего товаров</span>
                  <span>2 товара</span>
                </li>
                <li>
                  <span>Стоимость доставки</span>
                  <span>900 ₽</span>
                </li>
                <li>
                  <span>Общая сумма заказа</span>
                  <span>28 700₽</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="s-history__spoller">
        <div data-spoller class="s-history__spoller-btn">
          <span class="id">Заказ №10141</span>
          <span class="status _primary">В пути</span>
          <span class="date">15.09.2025</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-down"></use>
          </svg>
        </div>
        <div>
          <div class="s-history__spoller-body">
            <div class="s-history__cards">
              <a href="#" class="card-history">
                <div class="card-history__gallery">
                  <img src="@img/product.jpg" alt="" />
                </div>
                <div class="card-history__info">
                  <div href="#" class="card-history__title">
                    "HOODY", натуральный легкий пуховик, белый
                  </div>
                  <ul class="list card-history__spec">
                    <li>
                      <span>Цвет:</span>
                      <span>Белый</span>
                    </li>
                    <li>
                      <span>Размер:</span>
                      <span>L</span>
                    </li>
                  </ul>
                </div>
                <div class="card-history__prices">
                  <div class="card-history__price">13 900₽</div>
                  <div class="card-history__old-price">15 900₽</div>
                </div>
              </a>
              <a href="#" class="card-history">
                <div class="card-history__gallery">
                  <img src="@img/product.jpg" alt="" />
                </div>
                <div class="card-history__info">
                  <div href="#" class="card-history__title">
                    "HOODY", натуральный легкий пуховик, белый
                  </div>
                  <ul class="list card-history__spec">
                    <li>
                      <span>Цвет:</span>
                      <span>Белый</span>
                    </li>
                    <li>
                      <span>Размер:</span>
                      <span>L</span>
                    </li>
                  </ul>
                </div>
                <div class="card-history__prices">
                  <div class="card-history__price">13 900₽</div>
                </div>
              </a>
            </div>
            <div class="sidebar">
              <h3 class="sidebar__title">Информация о заказе</h3>
              <ul class="list sidebar__list">
                <li>
                  <span>Всего товаров</span>
                  <span>2 товара</span>
                </li>
                <li>
                  <span>Стоимость доставки</span>
                  <span>900 ₽</span>
                </li>
                <li>
                  <span>Общая сумма заказа</span>
                  <span>28 700₽</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="s-history__spoller">
        <div data-spoller class="s-history__spoller-btn">
          <span class="id">Заказ №10141</span>
          <span class="status _red">Отменен</span>
          <span class="date">15.09.2025</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-down"></use>
          </svg>
        </div>
        <div>
          <div class="s-history__spoller-body">
            <div class="s-history__cards">
              <a href="#" class="card-history">
                <div class="card-history__gallery">
                  <img src="@img/product.jpg" alt="" />
                </div>
                <div class="card-history__info">
                  <div href="#" class="card-history__title">
                    "HOODY", натуральный легкий пуховик, белый
                  </div>
                  <ul class="list card-history__spec">
                    <li>
                      <span>Цвет:</span>
                      <span>Белый</span>
                    </li>
                    <li>
                      <span>Размер:</span>
                      <span>L</span>
                    </li>
                  </ul>
                </div>
                <div class="card-history__prices">
                  <div class="card-history__price">13 900₽</div>
                  <div class="card-history__old-price">15 900₽</div>
                </div>
              </a>
              <a href="#" class="card-history">
                <div class="card-history__gallery">
                  <img src="@img/product.jpg" alt="" />
                </div>
                <div class="card-history__info">
                  <div href="#" class="card-history__title">
                    "HOODY", натуральный легкий пуховик, белый
                  </div>
                  <ul class="list card-history__spec">
                    <li>
                      <span>Цвет:</span>
                      <span>Белый</span>
                    </li>
                    <li>
                      <span>Размер:</span>
                      <span>L</span>
                    </li>
                  </ul>
                </div>
                <div class="card-history__prices">
                  <div class="card-history__price">13 900₽</div>
                </div>
              </a>
            </div>
            <div class="sidebar">
              <h3 class="sidebar__title">Информация о заказе</h3>
              <ul class="list sidebar__list">
                <li>
                  <span>Всего товаров</span>
                  <span>2 товара</span>
                </li>
                <li>
                  <span>Стоимость доставки</span>
                  <span>900 ₽</span>
                </li>
                <li>
                  <span>Общая сумма заказа</span>
                  <span>28 700₽</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
