<section class="s-partner bg-gray sect-p">
  <div class="container">
    <h2 class="s-title _bottom-big">Станьте партнером Batzzilla</h2>
    <div class="s-partner__wrapper">
      <div class="s-partner__body">
        <p class="content s-partner__content">
          Мы приглашаем к сотрудничеству и готовы поделиться историей и
          философией первого российского бренда одежды для сноуборда и
          new-school. Наши куртки — это сочетание передовых технологий,
          натуральных материалов и дерзкого дизайна, созданного для райдеров.
          Заполните форму, и мы вышлем вам условия сотрудничества, а также
          подберем оптимальный ассортимент для вашего магазина.
        </p>
        <img src="@img/partner.jpg" alt="image" class="s-partner__img" />
      </div>
      <div class="s-partner__form-wrapper">
        <h3 class="l-title s-partner__form-title">Получить оптовый прайс</h3>
        <form action="#" class="s-partner__form">
          <div class="input-control">
            <input type="text" placeholder="Введите ваше имя" class="input" />
          </div>
          <div class="input-control">
            <input type="email" placeholder="E-mail" class="input" />
          </div>
          <div class="input-control">
            <input type="tel" placeholder="+7 (___) ___-__-__" class="input" />
          </div>
          <input
            type="checkbox"
            id="modal-connect-policy"
            class="input-check"
          />
          <label for="modal-connect-policy" class="label-checbkox">
            <span>
              Я соглашаюсь с 
              <a href="#" target="_blank">
                Политикой обработки персональных данных
              </a>
              и
              <a href="#" target="_blank">Политикой конфиденциальности</a>
            </span>
          </label>
          <button class="btn-s s-connect__form-btn">Отправить заявку</button>
        </form>
      </div>
    </div>
  </div>
</section>
