<section class="s-places sect-m mt-off">
  <div class="container">
    <div class="page-head">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="https://timer-alliance.ru" title="Главная">Главная</a>
        </span>
        <span class="aioseo-breadcrumb-separator">></span>
        <span class="aioseo-breadcrumb">Где купить</span>
      </div>
      <h1 class="m-title">Где купить</h1>
      <ul class="list page-head__list">
        <li><a href="#" class="_active">Все магазины</a></li>
        <li><a href="#">Москва</a></li>
        <li><a href="#">Санкт-Петербург</a></li>
        <li><a href="#">Екатеринбург</a></li>
      </ul>
    </div>
    <div class="s-places__body">
      <div class="s-places__item">
        <div class="s-places__slider swiper">
          <div class="slider-btn _prev _white">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-prev"></use>
            </svg>
          </div>
          <div class="slider-btn _next _white">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </div>
          <div class="swiper-wrapper">
            <a
              href="@img/place.jpg"
              data-fancybox="place-1"
              class="swiper-slide"
            >
              <img src="@img/place.jpg" alt="image" />
            </a>
            <a
              href="@img/place.jpg"
              data-fancybox="place-1"
              class="swiper-slide"
            >
              <img src="@img/place.jpg" alt="image" />
            </a>
            <a
              href="@img/place.jpg"
              data-fancybox="place-1"
              class="swiper-slide"
            >
              <img src="@img/place.jpg" alt="image" />
            </a>
          </div>
        </div>
        <div class="s-places__item-body">
          <div class="s-places__item-head">
            <h3 class="s-places__item-title">Сквот</h3>
            <a
              href="#"
              target="_blank"
              class="btn-s _outline s-places__item-btn"
            >
              Проложить маршрут
            </a>
          </div>
          <p class="s-places__item-address">
            Россия, г. Екатеринбург, ул. Малышева 42, 620014
          </p>
          <a href="tel:+79222175860" class="s-places__item-tel">
            +7 922 217 58 60
          </a>
          <div class="s-places__item-days">
            <div class="s-places__item-day">
              <div class="s-places__item-day-title">Понедельник</div>
              <div class="s-places__item-time">11:00 – 20:00</div>
            </div>
            <div class="s-places__item-day">
              <div class="s-places__item-day-title">Вторник</div>
              <div class="s-places__item-time">11:00 – 20:00</div>
            </div>
            <div class="s-places__item-day">
              <div class="s-places__item-day-title">Среда</div>
              <div class="s-places__item-time">11:00 – 20:00</div>
            </div>
            <div class="s-places__item-day">
              <div class="s-places__item-day-title">Четверг</div>
              <div class="s-places__item-time">11:00 – 20:00</div>
            </div>
            <div class="s-places__item-day">
              <div class="s-places__item-day-title">Пятница</div>
              <div class="s-places__item-time">11:00 – 20:00</div>
            </div>
            <div class="s-places__item-day">
              <div class="s-places__item-day-title">Суббота</div>
              <div class="s-places__item-time">11:00 – 20:00</div>
            </div>
            <div class="s-places__item-day">
              <div class="s-places__item-day-title">Воскресенье</div>
              <div class="s-places__item-time">11:00 – 20:00</div>
            </div>
          </div>
        </div>
      </div>
      <div class="s-places__item">
        <div class="s-places__slider swiper">
          <div class="slider-btn _prev _white">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-prev"></use>
            </svg>
          </div>
          <div class="slider-btn _next _white">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </div>
          <div class="swiper-wrapper">
            <a
              href="@img/place.jpg"
              data-fancybox="place-2"
              class="swiper-slide"
            >
              <img src="@img/place.jpg" alt="image" />
            </a>
            <a
              href="@img/place.jpg"
              data-fancybox="place-2"
              class="swiper-slide"
            >
              <img src="@img/place.jpg" alt="image" />
            </a>
            <a
              href="@img/place.jpg"
              data-fancybox="place-2"
              class="swiper-slide"
            >
              <img src="@img/place.jpg" alt="image" />
            </a>
          </div>
        </div>
        <div class="s-places__item-body">
          <div class="s-places__item-head">
            <h3 class="s-places__item-title">Сквот</h3>
            <a
              href="#"
              target="_blank"
              class="btn-s _outline s-places__item-btn"
            >
              Проложить маршрут
            </a>
          </div>
          <p class="s-places__item-address">
            Россия, г. Екатеринбург, ул. Малышева 42, 620014
          </p>
          <a href="tel:+79222175860" class="s-places__item-tel">
            +7 922 217 58 60
          </a>
          <div class="s-places__item-days">
            <div class="s-places__item-day">
              <div class="s-places__item-day-title">Понедельник</div>
              <div class="s-places__item-time">11:00 – 20:00</div>
            </div>
            <div class="s-places__item-day">
              <div class="s-places__item-day-title">Вторник</div>
              <div class="s-places__item-time">11:00 – 20:00</div>
            </div>
            <div class="s-places__item-day">
              <div class="s-places__item-day-title">Среда</div>
              <div class="s-places__item-time">11:00 – 20:00</div>
            </div>
            <div class="s-places__item-day">
              <div class="s-places__item-day-title">Четверг</div>
              <div class="s-places__item-time">11:00 – 20:00</div>
            </div>
            <div class="s-places__item-day">
              <div class="s-places__item-day-title">Пятница</div>
              <div class="s-places__item-time">11:00 – 20:00</div>
            </div>
            <div class="s-places__item-day">
              <div class="s-places__item-day-title">Суббота</div>
              <div class="s-places__item-time">11:00 – 20:00</div>
            </div>
            <div class="s-places__item-day">
              <div class="s-places__item-day-title">Воскресенье</div>
              <div class="s-places__item-time">11:00 – 20:00</div>
            </div>
          </div>
        </div>
      </div>
      <div class="s-places__item">
        <div class="s-places__slider swiper">
          <div class="slider-btn _prev _white">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-prev"></use>
            </svg>
          </div>
          <div class="slider-btn _next _white">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </div>
          <div class="swiper-wrapper">
            <a
              href="@img/place.jpg"
              data-fancybox="place-3"
              class="swiper-slide"
            >
              <img src="@img/place.jpg" alt="image" />
            </a>
            <a
              href="@img/place.jpg"
              data-fancybox="place-3"
              class="swiper-slide"
            >
              <img src="@img/place.jpg" alt="image" />
            </a>
            <a
              href="@img/place.jpg"
              data-fancybox="place-3"
              class="swiper-slide"
            >
              <img src="@img/place.jpg" alt="image" />
            </a>
          </div>
        </div>
        <div class="s-places__item-body">
          <div class="s-places__item-head">
            <h3 class="s-places__item-title">Сквот</h3>
            <a
              href="#"
              target="_blank"
              class="btn-s _outline s-places__item-btn"
            >
              Проложить маршрут
            </a>
          </div>
          <p class="s-places__item-address">
            Россия, г. Екатеринбург, ул. Малышева 42, 620014
          </p>
          <a href="tel:+79222175860" class="s-places__item-tel">
            +7 922 217 58 60
          </a>
          <div class="s-places__item-days">
            <div class="s-places__item-day">
              <div class="s-places__item-day-title">Понедельник</div>
              <div class="s-places__item-time">11:00 – 20:00</div>
            </div>
            <div class="s-places__item-day">
              <div class="s-places__item-day-title">Вторник</div>
              <div class="s-places__item-time">11:00 – 20:00</div>
            </div>
            <div class="s-places__item-day">
              <div class="s-places__item-day-title">Среда</div>
              <div class="s-places__item-time">11:00 – 20:00</div>
            </div>
            <div class="s-places__item-day">
              <div class="s-places__item-day-title">Четверг</div>
              <div class="s-places__item-time">11:00 – 20:00</div>
            </div>
            <div class="s-places__item-day">
              <div class="s-places__item-day-title">Пятница</div>
              <div class="s-places__item-time">11:00 – 20:00</div>
            </div>
            <div class="s-places__item-day">
              <div class="s-places__item-day-title">Суббота</div>
              <div class="s-places__item-time">11:00 – 20:00</div>
            </div>
            <div class="s-places__item-day">
              <div class="s-places__item-day-title">Воскресенье</div>
              <div class="s-places__item-time">11:00 – 20:00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-s _outline-gray s-places__btn-more">Показать ещё</div>
  </div>
</section>
