<section class="s-product-descr sect-m">
  <div class="container">
    <h2 class="s-title s-product-descr__title">Описание товара</h2>
    <div class="s-product-descr__wrapper">
      <div class="s-product-descr__item">
        <div class="content">
          <p><strong>Основная серия бренда Вирус "Batzzilla"</strong></p>

          <p>
            Куртка предназначена, как для катания, так и для повседневного
            использования. Куртка обладает кроем, не стесняющим движения и
            консервативным дизайном. Пуховка способна стать основной одеждой на
            весь зимний период.
          </p>

          <p>
            - диапазон температур комфортного использования от
            <br />
            -3 до -25 С
            <br />
            - внешняя ткань 100% полиамид с DWR обработкой 5К/5К
            <br />
            - использована конструктивная система сохранения тепла и отведения
            влаги - Complex Cloth
          </p>
        </div>
      </div>
      <div class="s-product-descr__item">
        <div class="content">
          <p>
            - утеплитель натуральный гусиный пух
            <br />
            - соотношение пух/перо 90/10 %
            <br />
            - Fill Power 750
            <br />
            - два внутренних кармана
            <br />
            - карман для ski-pass на рукаве
            <br />
            - вентиляция с сеткой
            <br />
            - не отстегивающаяся снежная юбка
            <br />
            - эргономичный капюшон, удерживающий тепло в любом положении
            <br />
            - отстегивающаяся опушка капюшона
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
