<section class="s-product sect-m">
  <div class="container">
    <div class="s-product__wrapper">
      <div class="s-product__gallery">
        <div class="swiper s-product__slider">
          <div class="swiper-wrapper">
            <a
              href="@img/product.jpg"
              data-fancybox="product-gallery"
              class="swiper-slide s-product__gallery-item"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox="product-gallery"
              class="swiper-slide s-product__gallery-item"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox="product-gallery"
              class="swiper-slide s-product__gallery-item"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox="product-gallery"
              class="swiper-slide s-product__gallery-item"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox="product-gallery"
              class="swiper-slide s-product__gallery-item"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox="product-gallery"
              class="swiper-slide s-product__gallery-item"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
          </div>
        </div>
        <div class="slider-scrollbar s-product__slider-scrollbar"></div>
      </div>
      <div class="s-product__info">
        <div class="s-product__head">
          <div class="s-product__tag">тестировано в горах</div>
          <div class="s-product__id">Код: INF-PNK-23-S</div>
        </div>
        <h1 class="s-product__title">
          "ADVANCE", натуральный мембранный пуховик, белый
        </h1>
        <div class="s-product__info-wrapper">
          <div class="s-product__reviews">
            <div class="s-product__stars">
              <svg>
                <use xlink:href='img/icons/icons.svg#icon-star'></use>
              </svg>
              <svg>
                <use xlink:href='img/icons/icons.svg#icon-star'></use>
              </svg>
              <svg>
                <use xlink:href='img/icons/icons.svg#icon-star'></use>
              </svg>
              <svg>
                <use xlink:href='img/icons/icons.svg#icon-star'></use>
              </svg>
              <svg>
                <use xlink:href='img/icons/icons.svg#icon-star-stroke'></use>
              </svg>
            </div>
            <span>4,5</span>
            <span>(654 отзыва)</span>
          </div>
          <a href="#modal-share" data-fancybox class="s-product__share">
            <span>Поделиться</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-share"></use>
            </svg>
          </a>
        </div>
        <div class="s-product__variants">
          <form action="#" class="variations_form cart wvs-loaded">
            <div>
              <table class="variations">
                <tbody>
                  <tr>
                    <th class="label">
                      <label for="pa_color">Цвет</label>
                    </th>
                    <td class="value woo-variation-items-wrapper">
                      <select
                        style="display: none"
                        id="pa_color"
                        class="woo-variation-raw-select"
                        name="attribute_pa_color"
                        data-attribute_name="attribute_pa_color"
                        data-show_option_none="yes"
                      >
                        <option value="">Выбрать опцию</option>
                        <option value="blue-shadow" class="attached enabled">
                          Blue Shadow
                        </option>
                        <option value="jet-black" class="attached enabled">
                          Jet Black
                        </option>
                        <option value="silver-shadow" class="attached enabled">
                          Silver Shadow
                        </option>
                      </select>
                      <ul
                        role="radiogroup"
                        aria-label="Цвет"
                        class="single-product-variable-items wvs-style-squared variable-items-wrapper color-variable-items-wrapper"
                        data-attribute_name="attribute_pa_color"
                        data-attribute_values='["blue-shadow","jet-black","silver-shadow"]'
                      >
                        <li
                          aria-checked="false"
                          tabindex="0"
                          class="variable-item color-variable-item color-variable-item-blue-shadow"
                          title="Blue Shadow"
                          data-title="Blue Shadow"
                          data-value="blue-shadow"
                          role="radio"
                          data-wvstooltip-out-of-stock=""
                        >
                          <div class="variable-item-contents">
                            <span
                              class="variable-item-span variable-item-span-color"
                              style="background-color: #0066bf"
                            ></span>
                          </div>
                        </li>
                        <li
                          aria-checked="true"
                          tabindex="0"
                          class="variable-item color-variable-item color-variable-item-jet-black selected"
                          title="Jet Black"
                          data-title="Jet Black"
                          data-value="jet-black"
                          role="radio"
                          data-wvstooltip-out-of-stock=""
                        >
                          <div class="variable-item-contents">
                            <span
                              class="variable-item-span variable-item-span-color"
                              style="background-color: #000000"
                            ></span>
                          </div>
                        </li>
                        <li
                          aria-checked="false"
                          tabindex="0"
                          class="variable-item color-variable-item color-variable-item-silver-shadow"
                          title="Silver Shadow"
                          data-title="Silver Shadow"
                          data-value="silver-shadow"
                          role="radio"
                          data-wvstooltip-out-of-stock=""
                        >
                          <div class="variable-item-contents">
                            <span
                              class="variable-item-span variable-item-span-color"
                              style="background-color: #afafaf"
                            ></span>
                          </div>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th class="label">
                      <label for="pa_obem-pamyati">Размер</label>
                    </th>
                    <td class="value woo-variation-items-wrapper">
                      <select
                        style="display: none"
                        id="pa_obem-pamyati"
                        class="woo-variation-raw-select"
                        name="attribute_pa_obem-pamyati"
                        data-attribute_name="attribute_pa_obem-pamyati"
                        data-show_option_none="yes"
                      >
                        <option value="">Выбрать опцию</option>
                        <option
                          value="256gb"
                          selected="selected"
                          class="attached enabled"
                        >
                          S
                        </option>
                        <option value="512gb" class="attached enabled">
                          M
                        </option>
                        <option
                          value="1tb"
                          class="attached enabled out-of-stock"
                        >
                          L
                        </option>
                      </select>
                      <ul
                        role="radiogroup"
                        aria-label="Объем памяти"
                        class="single-product-variable-items wvs-style-squared variable-items-wrapper button-variable-items-wrapper"
                        data-attribute_name="attribute_pa_obem-pamyati"
                        data-attribute_values='["256gb","512gb","1tb"]'
                      >
                        <li
                          aria-checked="false"
                          tabindex="0"
                          class="variable-item button-variable-item button-variable-item-256gb"
                          title="256GB"
                          data-title="256GB"
                          data-value="256gb"
                          role="radio"
                          data-wvstooltip-out-of-stock=""
                        >
                          <div class="variable-item-contents">
                            <span
                              class="variable-item-span variable-item-span-button"
                            >
                              S
                            </span>
                          </div>
                        </li>
                        <li
                          aria-checked="true"
                          tabindex="0"
                          class="variable-item button-variable-item button-variable-item-512gb selected"
                          title="512GB"
                          data-title="512GB"
                          data-value="512gb"
                          role="radio"
                          data-wvstooltip-out-of-stock=""
                        >
                          <div class="variable-item-contents">
                            <span
                              class="variable-item-span variable-item-span-button"
                            >
                              M
                            </span>
                          </div>
                        </li>
                        <li
                          aria-checked="false"
                          tabindex="0"
                          class="variable-item button-variable-item button-variable-item-1tb no-stock"
                          title="1TB"
                          data-title="1TB"
                          data-value="1tb"
                          role="radio"
                          data-wvstooltip-out-of-stock="(Unavailable)"
                        >
                          <div class="variable-item-contents">
                            <span
                              class="variable-item-span variable-item-span-button"
                            >
                              L
                            </span>
                          </div>
                        </li>
                      </ul>
                      <a class="reset_variations" href="#">Очистить</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
        <div data-modal-right-btn="modal-size" class="s-product__size">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-size"></use>
          </svg>
          <span>Таблица размеров</span>
        </div>
        
        <div class="s-product__bottom">
          <div class="s-product__prices">
            <div class="s-product__price">7 900₽</div>
            <div class="s-product__old-price">9 900₽</div>
          </div>
          <div class="s-product__buy">
            <button class="btn-s s-product__buy-btn">Добавить в корзину</button>
            <button class="btn-s s-product__buy-btn _outline-primary">Купить в один клик</button>
            <a href="#modal-connect" data-fancybox class="btn-s _outline-gray s-product__question-btn">
              Задать вопрос по товару?
            </a>
            <div class="s-product__btn-like">
              <svg>
                <use xlink:href='img/icons/icons.svg#icon-heart'></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
