<section class="s-temp sect-m">
  <div class="container">
    <div class="s-temp__head">
      <h2 class="s-title s-temp__title">
        Оптимальная температура
        <br />
        для катания
      </h2>
      <p class="content s-temp__content">
        Правильный выбор экипировки — залог комфорта на склоне, независимо от
        погодных условий. Куртки Batzzilla разработаны для разных температурных
        режимов, чтобы обеспечивать тепло и защиту в любых условиях — от мягкой
        зимы до экстремального холода. Мы учитываем специфику катания и
        особенности климатических зон горнолыжных курортов России и СНГ — от
        Красной Поляны и Шерегеша до Чимбулака и Домбая. Подбери модель,
        соответствующую твоему стилю катания и температуре, в которой ты чаще
        всего находишься.
      </p>
    </div>
    <div class="s-temp__grid">
      <div
        class="s-temp__item"
        style="
          background: url(&quot;@img/temp.jpg&quot;) center / cover no-repeat;
        "
      >
        <div class="s-temp__item-body">
          <h5 class="s-temp__item-title">Для универсального катания</h5>
          <div class="s-temp__item-num">0°...-25°C</div>
          <p class="content s-temp__item-content">
            Эти модели созданы для райдеров, которым нужна надежная защита в
            переменчивых условиях. Мембранная ткань и утеплитель из натурального
            гусиного пуха (90/10, Fill Power 750) удерживают тепло, не допуская
            перегрева при высокой активности. Оптимальны для Шерегеша, Домбая,
            Приэльбрусья и других курортов с холодными зимами.
          </p>
        </div>
      </div>
      <div
        class="s-temp__item"
        style="
          background: url(&quot;@img/temp.jpg&quot;) center / cover no-repeat;
        "
      >
        <div class="s-temp__item-body">
          <h5 class="s-temp__item-title">Для универсального катания</h5>
          <div class="s-temp__item-num">0°...-25°C</div>
          <p class="content s-temp__item-content">
            Эти модели созданы для райдеров, которым нужна надежная защита в
            переменчивых условиях. Мембранная ткань и утеплитель из натурального
            гусиного пуха (90/10, Fill Power 750) удерживают тепло, не допуская
            перегрева при высокой активности. Оптимальны для Шерегеша, Домбая,
            Приэльбрусья и других курортов с холодными зимами.
          </p>
        </div>
      </div>
      <div
        class="s-temp__item"
        style="
          background: url(&quot;@img/temp.jpg&quot;) center / cover no-repeat;
        "
      >
        <div class="s-temp__item-body">
          <h5 class="s-temp__item-title">Для универсального катания</h5>
          <div class="s-temp__item-num">0°...-25°C</div>
          <p class="content s-temp__item-content">
            Эти модели созданы для райдеров, которым нужна надежная защита в
            переменчивых условиях. Мембранная ткань и утеплитель из натурального
            гусиного пуха (90/10, Fill Power 750) удерживают тепло, не допуская
            перегрева при высокой активности. Оптимальны для Шерегеша, Домбая,
            Приэльбрусья и других курортов с холодными зимами.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
