.input-control {
  width: 100%;
}
.input,
.input-text {
  border-radius: 6px;
  border: 1px solid #ebebeb;
  background-color: white;
  padding: 24px;
  width: 100%;
  outline: none;

  font-weight: 300;
  font-size: 16px;

  transition: border-color 0.3s ease;

  @include tablet {
    padding: 16px;
  }

  &::placeholder {
    color: inherit;
    opacity: 0.4;
  }

  &:focus {
    border-color: var(--black);
  }
}
textarea.input {
  resize: none;
}
.input-check {
  display: none;
  &:checked + label {
    &::before {
      background: url("@img/check-primary.svg") center / 80% auto no-repeat;
      background-color: white;
    }
  }
}
.label-checbkox {
  cursor: pointer;
  display: flex;
  gap: 8px;

  font-weight: 300;
  font-size: 14px;
  color: #b5b5b5;

  a {
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }
  }

  &::before {
    content: "";
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    background-color: white;
  }
}
.form-btn {
  width: 100%;
}

.form-row.place-order {
  display: none;
}

.wc_payment_methods {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  row-gap: 20px;

  @include laptop {
    gap: 20px;
  }
  @include tablet-min {
    grid-template-columns: 1fr;
  }
}
.wc_payment_method {
  input {
    display: none;
    &:checked + label {
      border-color: var(--primary);
      &::after {
        opacity: 1
      }
    }
  }
  label {
    @include flex-center;
    position: relative;
    flex-direction: row-reverse;
    gap: 8px;
    cursor: pointer;
    padding: 24px;
    border: 1px solid #ebebeb;
    border-radius: 6px;

    font-weight: 300;
    font-size: 18px;

    transition: border-color 0.3s ease;

    @include tablet {
      padding: 16px;
      font-size: 16px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: url('@img/check-primary.svg') center / 13px auto no-repeat;
      background-color: var(--gray);
      right: 25px;

      opacity: 0;

      transition: opacity .3s ease;
    }
  }
}
