.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  row-gap: 50px;
  @include laptop {
    grid-template-columns: repeat(3, 1fr);
  }
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
  @include mobile {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}