.s-title {
  font-weight: 400;
  font-size: 44px;
  text-align: center;
  margin: 0px 0px 20px 0px;
  @include laptop-middle {
    font-size: 38px;
  }
  @include laptop-min {
    font-size: 32px;
  }
  @include tablet {
    font-size: 28px;
  }
}
