.m-title {
  font-weight: 400;
  font-size: 52px;
  text-align: center;
  margin: 0;

  @include laptop-middle {
    font-size: 46px;
  }
  @include laptop-min {
    font-size: 38px;
  }
  @include tablet {
    font-size: 32px;
  }
}

.s-title {
  font-weight: 400;
  font-size: 44px;
  text-align: center;
  margin: 0px 0px 20px 0px;
  @include laptop-middle {
    font-size: 38px;
  }
  @include laptop-min {
    font-size: 32px;
  }
  @include tablet {
    font-size: 28px;
  }

  &._bottom-big {
    margin-bottom: 50px;
    @include laptop-min {
      margin-bottom: 30px;
    }
  }
}
