.modal {
  padding: 30px;
  display: none;
  width: 700px;
  color: var(--black);
  max-width: calc(100vw - 20px);

  @include tablet {
    padding: 25px 15px;
  }

  &__content {
    font-weight: 300;
    font-size: 18px;
    line-height: 145%;
    color: var(--dove);
    margin: 0px 0px 25px 0px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
