.sidebar {
  position: sticky;
  top: 130px;
  width: 700px;
  flex-shrink: 0;
  border-radius: 6px;
  padding: 50px;
  background-color: var(--alabaster);
  @include laptop {
    width: 500px;
    padding: 35px;
  }
  @include laptop-middle {
    padding: 25px;
    width: 450px;
  }
  @include laptop-min {
    position: static;
    margin: 0 auto;
  }
  @include tablet {
    padding: 25px 12px;
  }
  @include tablet-min {
    width: 100%;
  }
  &__title {
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    margin: 0px 0px 50px 0px;
    @include laptop-min {
      margin-bottom: 30px;
      font-size: 28px;
    }
    @include tablet {
      font-size: 24px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid var(--primary);
    @include laptop-min {
      padding-bottom: 30px;
      margin-bottom: 30px;
    }

    li {
      @include flex-between;
      gap: 15px;

      font-weight: 300;
      font-size: 18px;

      @include laptop-middle {
        font-size: 16px;
      }

      &:not(:last-child) {
        padding-bottom: 18px;
        border-bottom: 1px solid #ebebeb;
      }

      span {
        &:first-child {
          color: var(--dove);
        }
      }
    }
  }
  &__result {
    @include flex-between;
    gap: 20px;
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 110%;
    @include laptop-middle {
      font-size: 20px;
    }
    @include laptop-min {
      margin-bottom: 30px;
      margin-bottom: 30px;
    }

    span {
      &:first-child {
        font-weight: 300;
      }
    }
  }
  &__promocode {
    display: flex;
    gap: 10px;
  }
  &__promocode-input {
    padding: 20px 24px;
    border-radius: 4px;
    background-color: white;
    outline: none;
    border: none;
    font-size: 20px;
    flex: 1;

    @include tablet {
      font-size: 16px;
      padding: 16px 20px;
    }

    &::placeholder {
      color: var(--dove);
    }
  }
  &__promocode-btn {
    @include flex-center;
    border-radius: 4px;
    cursor: pointer;
    width: 66px;
    height: 66px;
    color: white;
    background-color: var(--primary);
    flex-shrink: 0;

    transition: opacity .3s ease;
    @include hover {
      opacity: 0.8;
    }

    @include tablet {
      width: 50px;
      height: 50px;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
  &__btn {
    width: 100%;
    margin-top: 30px;
  }
}
